
              <!-- EDIT FORM -->
              
              <div class="container">
                <div class="pt-4">
                  <h2 class=" mt-5">Edit Menu Item</h2>
                </div>  
                <form [formGroup]="editForm" (submit)="onSubmitEditForm()" class="needs-validation pb-5 mb-5" name="menuItemForm" method="post" action="D:\Projects\submissions\truyum-ui-template\WebContent\edit-menu-item-success.html" novalidate>
                   <div class="form-group edit-menu mt-3 mt-md-0">
                        <label for="field-itemname">Item Name</label>
                        <input type="text" name="title" formControlName="title" class="form-control" id="field-itemname" required>
                        <!-- VALIDATION FEEDBACK START -->
                        <div  class="invalid-feedback" *ngIf="editForm.get('title').dirty && editForm.get('title').hasError('required')" id="title-error-1">Title is required</div>
                        <div class="invalid-feedback" *ngIf="editForm.get('title').dirty && editForm.get('title').hasError('maxlength')" id="title-error-2">Title cannot exceed 200 characters</div>
                        <div class="valid-feedback" *ngIf="editForm.get('title').dirty && !editForm.get('title').errors" id="title-valid">Delicious!</div>
                        <!-- VALIDATION FEEDBACK END -->
                   </div>
                   <div class="form-group row">
                      <div class="col-md-3 edit-menu  mt-0 mt-md-0">
                          <label for="field-price">Price</label>
                          <input type="text" name="price" formControlName="price" class="form-control" id="field-price" required>
                          <!-- VALIDATION FEEDBACK START -->
                          <div class="invalid-feedback" *ngIf="editForm.get('price').dirty && editForm.get('price').hasError('required')" id="price-error-1">Price is required</div>
                          <div class="invalid-feedback" *ngIf="editForm.get('price').dirty && editForm.get('price').hasError('pattern')" id="price-error-2">Price can only contain numbers</div>
                          <div class="valid-feedback" *ngIf="editForm.get('price').dirty && !editForm.get('price').errors">Well Margined!</div>
                          <!-- VALIDATION FEEDBACK END -->
                      </div>
                      <div class="col-md-3 edit-menu  mt-3 mt-md-0">
                              <label for="field-dateOfLaunch">Date of Launch</label>
                              <input type="date"  value="" name="dateOfLaunch" formControlName="dateOfLaunch" class="form-control" id="field-dateOfLaunch" required>
                              <!-- VALIDATION FEEDBACK START -->
                              <div class="invalid-feedback" *ngIf="editForm.get('dateOfLaunch').dirty && editForm.get('dateOfLaunch').hasError('required')" id="dateOfLaunch-error-1"></div>
                              <div class="valid-feedback" *ngIf="editForm.get('dateOfLaunch').dirty && !editForm.get('dateOfLaunch').errors">Set!</div>
                              <!-- VALIDATION FEEDBACK END -->                       
                         </div>
                        <div class="col-md-3 edit-menu  mt-3 mt-md-0">
                           <label for="field-category">Category</label>
                                <select name="category" formControlName="category" class=" form-control" required>
                                   <option hidden></option>
                                   <option value="Starters">Starters</option>
                                    <option value="Main Course">Main Course</option>
                                    <option value="Desserts">Desserts</option>
                                </select>
                                <!-- VALIDATION FEEDBACK START -->
                              <div class="invalid-feedback" *ngIf="editForm.get('category').touched && editForm.get('category').hasError('required')" id="category-error-1">Category is required</div>
                              <div class="valid-feedback" *ngIf="editForm.get('category').touched && !editForm.get('category').errors">Sup!</div>
                              <!-- VALIDATION FEEDBACK END -->   
                        </div>
                        <div class="col-md-3 mt-3 mt-md-0">
                             <label class="d-block">Active</label>
                            <div class="form-check-inline  edit-menu mt-md-2 row ml-0">
                                <input type="radio" name="active" formControlName="active" value="yes" class="form-check-input" id="field-yes" required>Yes                        
                                <label class="form-check-label ml-3" for="field-yes"></label>
                              <!-- </div>
                            <div class="form-check-inline"> -->
                                <input type="radio" name="active" formControlName="active" value="no" class="form-check-input" id="field-no" required>No                     
                                <label class="form-check-label" for="field-no"></label>
                                <!-- <div class="invalid-feedback"  *ngIf="editForm.get('active').touched && editForm.get('active').hasError('required')" id="active-error-1">Select active status</div> -->
                            </div>
                            
                            
                        </div>  
                                                     
                    </div>
      
                    <div class="form-group row">
                          <div class="col-md-3">
                                  <div class="checkbox form-horizontal">
                                      <input type="checkbox" name="freeDelivery" formControlName="freeDelivery" id="field-freeDelivery"><label for="field-freeDelivery" class="ml-2">Free Delivery</label>
                                  </div>    
                              </div> 
                      </div>
      
      
      
      
      
      
      
                    <div class="form-group row submit">
                        <input type="submit" name="submit" [disabled]="!editForm.valid" class="btn btn-success ml-3" value="Save">
                    </div>
                    
                </form>
            </div>

            