
<ng-template *ngIf="isEditAllowed(); then adminlist; else customerlist;"></ng-template>
<!-- MENU LIST CUSTOMER -->
<ng-template #customerlist>
<div class="card mt-4">
  <img class="card-img-top" [src]="foodItem.imageUrl" alt="Card image cap">
  <div class="card-body pr-3 pl-3 pb-3">
      <div class="row">
          <h5 class="col">
           <label name="name" id="testname">{{foodItem.title}}</label>
          </h5>
          <label name="price"  class="float-right text-danger pr-3 font-price">₹ {{foodItem.price}}</label>
        </div>
      <div class="card-subtitle text-muted">
          <label name="category">{{foodItem.category}}</label>
      <span *ngIf="foodItem.freeDelivery" class="float-right ml-auto">
          <i class="material-icons" id="icon-shipping">local_shipping</i>
          <span class="badge badge-info mt-1 pt-1"  id="badge-free">FREE</span>
      </span>

      </div>
            <!-- <div *ngIf="foodItemAdded" class="alert alert-success alert-dismissible fade show alert-msg font-size-small" role="alert">
                Item added to cart successfully.
            </div> -->
            
            <div *ngIf="this.cartService.foodItemAdded && this.cartService.IdOffoodItemtobeAdded == foodItem.id" class="alert alert-success alert-dismissible fade show alert-msg font-size-small" role="alert">
                Food Item added to Cart successfully.
            </div>
<!--             <div *ngIf="this.cartService.alreadyExists && (this.cartService.IdOffoodItemtobeAdded == foodItem.id)" class="alert alert-danger alert-dismissible fade show alert-msg font-size-small" role="alert">
                Food Item already exists in Cart.
            </div> -->
            
            
      <button *ngIf="!foodItemAdded" type="button" class="btn btn-success float-right" (click)="onAddToCart(foodItem.id)" >
              <i class="material-icons veralign">shopping_cart</i>
              Add to Cart
          </button>
  </div>
</div>
</ng-template>

<!-- MENU LIST ADMIN -->
<ng-template #adminlist>
<div class="container-fluid">
  <div class="card-deck edit-cards mb-5 pb-5">
      <!-- ITEM 1 -->
      <div>
          <div class="card mt-4 justify-content-center">
                  <img class="card-img-top" [src]="foodItem.imageUrl" alt="Card image cap">
                  <div class="card-body pr-3 pl-3 pb-1">
                      <div class="row">
                          <h5 class="col">
                           <label name="name" id="testname">{{foodItem.title}}</label>
                          </h5>
                            <label name="price" class="float-right text-danger pr-3 font-price">₹ {{foodItem.price}}</label>
                        </div>
                      <div class="card-subtitle text-muted">
                          <span *ngIf="foodItem.active" class="badge badge-success veralign pt-1 pb-1 mr-1">Active</span>
                          <label name="category">{{foodItem.category}}</label>
                      <span *ngIf="foodItem.freeDelivery"  class="float-right ml-auto">
                          <i class="material-icons" id="icon-shipping">local_shipping</i>
                          <span class="badge badge-info mt-1 pt-1 pb-1"  id="badge-free">Free</span>
                      </span>

                      </div>
                      <span class="text-muted float-left mt-0 pt-0">
                          <i class="material-icons icon-size mb-0 pd-0">access_time</i>
                          <label class="icon-size mb-0 pd-0">Launch</label>
                          <label id="dateofLaunch" name="date" class="d-block mt-0 pd-0"> {{foodItem.dateOfLaunch | date : 'mediumDate'}}</label>
                      </span>
                      <button type="button" class="btn btn-success float-right mt-1" [routerLink]="['/edit-item',foodItem.id]">
                              <i class="material-icons veralign">edit</i>
                              Edit
                          </button>
                  </div>
          </div>
       </div>
     </div>
  </div>
</ng-template>

<!-- (onclick)="onEditClicked(foodItem.itemId)" -->