<header>
<nav class="navbar navbar-expand-md fixed-top">
  <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <i class="material-icons brand-logo">local_dining</i>
            <a class="navbar-brand" href="#">truYum</a>
            <!-- <h1>hTrack</h1> -->
        </div>
                      <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler  navbar-dark" type="button" data-toggle="collapse" data-target="#truyum-menu">
                <span class="navbar-toggler-icon"></span>
              </button>
       
              <div class="collapse navbar-collapse" id="truyum-menu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> 
                <a class="nav-link" href="#">
                  <span class="veralign">Menu Items</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span class="veralign">Cart</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons nav-icon-size">person</i>
                    <span class="veralign">John</span>
                </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span class="veralign">Logout</span>
                  </a>
              </li>
            </ul>
        </div>
  <!-- </div> -->
 
</nav>
</header>