<header>
<nav class="navbar navbar-expand-md">
  <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <i class="material-icons brand-logo">local_dining</i>
            <a class="navbar-brand" href="#">truYum</a>
            <!-- <h1>hTrack</h1> -->
        </div>
                      <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler  navbar-dark" type="button" data-toggle="collapse" data-target="#truyum-menu">
                <span class="navbar-toggler-icon"></span>
              </button>
       
              <div class="collapse navbar-collapse" id="truyum-menu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" > 
                <a class="nav-link" routerLink="menu">
                  <span class="veralign">Menu Items</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated() && !isAdmin()">
                  <a class="nav-link" routerLink="cart">
                      <span class="veralign">Cart</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated()">
                <a class="nav-link" routerLink="" >
                    <i class="material-icons nav-icon-size">person</i>
                    <span class="veralign">{{getUser().firstName}} {{getUser().lastName}}</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated()">
              <a class="nav-link" routerLink="signup">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated()">
            <a class="nav-link" routerLink="login">Log In</a>
          </li>
              <li class="nav-item" *ngIf="isAuthenticated()">
                  <a class="nav-link" routerLink="login" href="" (click)="onLogOut()" >
                      <span class="veralign">Logout</span>
                  </a>
              </li>
            </ul>
        </div>
  <!-- </div> -->
 
</nav>
</header>